In [1]:
import pandas as pd
import numpy as np
import glob

In [114]:
df = pd.read_excel("./data/국내/전력사용량/2015_상반기_전력사용량.xls", skiprows = 132)

In [115]:
df.head()

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201501,강원도,전체,"가구내고용,미분류자가소비생산",18,"12,724","1,986,737",156.1
1,201501,강원도,전체,건설업,"3,995","22,917,077","2,937,872,782",128.2
2,201501,강원도,전체,"공공행정, 국방 및 사회보장 행정","4,322","57,919,547","7,191,602,079",124.2
3,201501,강원도,전체,광업,303,"32,273,124","4,433,525,583",137.4
4,201501,강원도,전체,교육 서비스업,"3,459","41,898,306","4,550,828,221",108.6

In [116]:
# 불러올 csv 파일들이 있는 베이스 경로 설정
directory = 'C:/Users/Jayden Jeong/OneDrive/바탕 화면/project/final_project/분석/data/국내/전력사용량/'

# 디렉토리 내의 모든 xls 파일 매칭하기
xls_files = glob.glob(directory + '*.xls')

# 모든 xls 파일을 데이터프레임으로 읽어오기
dfs = []
for xls_file in xls_files:
    df = pd.read_excel(xls_file, skiprows = 132)
    dfs.append(df)

# 하나의 데이터프레임으로 병합
total_df = pd.concat(dfs, ignore_index=True)

total_df.head()

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201501,강원도,전체,"가구내고용,미분류자가소비생산",18,"12,724","1,986,737",156.1
1,201501,강원도,전체,건설업,"3,995","22,917,077","2,937,872,782",128.2
2,201501,강원도,전체,"공공행정, 국방 및 사회보장 행정","4,322","57,919,547","7,191,602,079",124.2
3,201501,강원도,전체,광업,303,"32,273,124","4,433,525,583",137.4
4,201501,강원도,전체,교육 서비스업,"3,459","41,898,306","4,550,828,221",108.6

In [117]:
total_df.columns

Index(['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)', '전기요금(원)',
       '평균판매단가(원/kWh)'],
      dtype='object')

In [118]:
total_df.shape

(41374, 8)

In [119]:
total_df.head()

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201501,강원도,전체,"가구내고용,미분류자가소비생산",18,"12,724","1,986,737",156.1
1,201501,강원도,전체,건설업,"3,995","22,917,077","2,937,872,782",128.2
2,201501,강원도,전체,"공공행정, 국방 및 사회보장 행정","4,322","57,919,547","7,191,602,079",124.2
3,201501,강원도,전체,광업,303,"32,273,124","4,433,525,583",137.4
4,201501,강원도,전체,교육 서비스업,"3,459","41,898,306","4,550,828,221",108.6

In [120]:
total_df.tail()

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
41369,202403,충청북도,전체,"전문,과학및기술서비스업","1,428","11,980,242","2,002,759,220",167.2
41370,202403,충청북도,전체,정보통신업,"11,036","17,973,764","2,679,132,661",149.1
41371,202403,충청북도,전체,제조업,"14,041","1,514,902,868","228,361,436,559",150.7
41372,202403,충청북도,전체,"협회및단체,수리및기타개인서비스업","9,083","18,861,430","3,320,393,718",176
41373,202403,충청북도,전체,합계,"347,467","2,082,173,542","315,425,245,694",151.5

In [121]:
total_df["계약구분"].value_counts()

합계                    1949
도매 및 소매업              1816
교육 서비스업               1816
보건업 및 사회복지 서비스업       1802
국제 및 외국기관             1384
                      ...
예술/스포츠및여가관련서비스업         34
사업시설관리/사업지원서비스업         34
농업/ 임업 및 어업             34
공공행정/ 국방 및 사회보장 행정      34
가구내고용/미분류자가소비생산         32
Name: 계약구분, Length: 62, dtype: int64

In [122]:
df["계약구분"].value_counts()

사업시설관리,사업지원및임대서비스업          51
건설업                         51
협회및단체,수리및기타개인서비스업           51
제조업                         51
정보통신업                       51
전문,과학및기술서비스업                51
전기,가스,증기및공기조절공급업            51
운수및창고업                      51
예술,스포츠및여가관련서비스업             51
숙박및음식점업                     51
수도,하수및폐기물처리,원료재생업           51
합계                          51
부동산업                        51
보건업및사회복지서비스업                51
도매및소매업                      51
농업,임업및어업                    51
금융및보험업                      51
교육서비스업                      51
광업                          51
공공행정,국방및사회보장행정              51
가구내고용활동및달리분류되지않은자가소비생산활동    45
국제및외국기관                     39
Name: 계약구분, dtype: int64

In [123]:
total_df.head(20)

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201501,강원도,전체,"가구내고용,미분류자가소비생산",18,"12,724","1,986,737",156.1
1,201501,강원도,전체,건설업,"3,995","22,917,077","2,937,872,782",128.2
2,201501,강원도,전체,"공공행정, 국방 및 사회보장 행정","4,322","57,919,547","7,191,602,079",124.2
3,201501,강원도,전체,광업,303,"32,273,124","4,433,525,583",137.4
4,201501,강원도,전체,교육 서비스업,"3,459","41,898,306","4,550,828,221",108.6
5,201501,강원도,전체,국제 및 외국기관,5호미만제거,-,-,-
6,201501,강원도,전체,금융 및 보험업,"1,070","6,620,087","872,352,167",131.8
7,201501,강원도,전체,"농업, 임업 및 어업","79,767","45,243,558","2,304,986,590",50.9
8,201501,강원도,전체,도매 및 소매업,"27,184","62,282,031","8,035,077,380",129
9,201501,강원도,전체,보건업 및 사회복지 서비스업,"3,388","25,403,089","2,732,706,391",107.6
10,201501,강원도,전체,부동산업 및 임대업,"17,232","45,208,282","5,958,308,162",131.8
11,201501,강원도,전체,"사업시설관리,사업지원서비스업","2,689","4,826,861","646,679,298",134
12,201501,강원도,전체,숙박 및 음식점업,"36,186","112,064,784","13,763,796,780",122.8
13,201501,강원도,전체,"예술,스포츠및여가관련서비스업","4,012","35,087,583","4,519,064,627",128.8
14,201501,강원도,전체,운수업,"4,360","18,600,521","2,527,098,738",135.9
15,201501,강원도,전체,"전기, 가스, 증기 및 수도사업","3,807","35,173,169","4,215,811,729",119.9
16,201501,강원도,전체,"전문, 과학 및 기술 서비스업","1,835","3,997,921","543,543,629",136
17,201501,강원도,전체,제조업,"5,505","486,818,150","54,324,420,272",111.6
18,201501,강원도,전체,"출판영상,방송통신정보서비스업","15,323","25,469,621","3,079,882,192",120.9
19,201501,강원도,전체,하수폐기처리원료재생환경복원,"3,447","22,639,984","2,754,153,970",121.6

In [124]:
total_df = total_df.drop("시군구", axis = 1)

In [125]:
total_df.head()

,년월,시구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201501,강원도,"가구내고용,미분류자가소비생산",18,"12,724","1,986,737",156.1
1,201501,강원도,건설업,"3,995","22,917,077","2,937,872,782",128.2
2,201501,강원도,"공공행정, 국방 및 사회보장 행정","4,322","57,919,547","7,191,602,079",124.2
3,201501,강원도,광업,303,"32,273,124","4,433,525,583",137.4
4,201501,강원도,교육 서비스업,"3,459","41,898,306","4,550,828,221",108.6

In [126]:
total_df.shape

(41374, 7)

In [127]:
total_df[total_df["고객호수(호)"] == "5호미만제거"]

,년월,시구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
5,201501,강원도,국제 및 외국기관,5호미만제거,-,-,-
93,201501,광주광역시,국제 및 외국기관,5호미만제거,-,-,-
132,201501,대전광역시,"가구내고용,미분류자가소비생산",5호미만제거,-,-,-
137,201501,대전광역시,국제 및 외국기관,5호미만제거,-,-,-
198,201501,세종특별자치시,"가구내고용,미분류자가소비생산",5호미만제거,-,-,-
...,...,...,...,...,...,...,...
41292,202403,전북특별자치도,국제및외국기관,5호미만제거,-,-,-
41309,202403,제주특별자치도,가구내고용활동및달리분류되지않은자가소비생산활동,5호미만제거,-,-,-
41331,202403,충청남도,가구내고용활동및달리분류되지않은자가소비생산활동,5호미만제거,-,-,-
41336,202403,충청남도,국제및외국기관,5호미만제거,-,-,-
41353,202403,충청북도,가구내고용활동및달리분류되지않은자가소비생산활동,5호미만제거,-,-,-

In [128]:
# 5호미만제거값이 있으면 해당 행은 모두 삭제
total_df = total_df[total_df.apply(lambda row: "5호미만제거" not in row.values, axis=1)]

In [129]:
total_df.shape

(39948, 7)

In [130]:
total_df.head()

,년월,시구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
0,201501,강원도,"가구내고용,미분류자가소비생산",18,"12,724","1,986,737",156.1
1,201501,강원도,건설업,"3,995","22,917,077","2,937,872,782",128.2
2,201501,강원도,"공공행정, 국방 및 사회보장 행정","4,322","57,919,547","7,191,602,079",124.2
3,201501,강원도,광업,303,"32,273,124","4,433,525,583",137.4
4,201501,강원도,교육 서비스업,"3,459","41,898,306","4,550,828,221",108.6

In [131]:
total_df["시구"].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도', '황해북도', '강원특별자치도', '전북특별자치도'], dtype=object)

In [132]:
conditions = ~total_df['시구'].isin(["제주특별자치도", "황해북도"])
total_df = total_df[conditions]

In [133]:
total_df.shape

(37475, 7)

In [134]:
total_df["시구"].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '충청남도',
       '충청북도', '강원특별자치도', '전북특별자치도'], dtype=object)

In [136]:
# 계약구분 양옆 공백 제거
total_df["계약구분"] = total_df["계약구분"].map(lambda x: x.strip())

In [137]:
# 시구 그룹핑 매핑 딕셔너리
grouping = {
    '서울': ['인천광역시', '경기도', '서울특별시'],
    '경상도': ['경상남도', '경상북도', '대구광역시', '울산광역시', '부산광역시'],
    '충청도': ['충청남도', '충청북도', '세종특별자치시', '대전광역시'],
    '전라도': ['전라남도', '전라북도', '광주광역시', '전북특별자치도'],
    '강원도': ['강원도', '강원특별자치도']
}

# 시구를 그룹핑하여 새로운 컬럼 생성
def map_group(sigu):
    for group, regions in grouping.items():
        if sigu in regions:
            return group
    return sigu

total_df['그룹'] = total_df['시구'].apply(map_group)

In [138]:
total_df.shape

(37475, 8)

In [139]:
# 합계값들 전부 삭제
total_df = total_df[total_df.apply(lambda row: "합계" not in row.values, axis=1)]

In [140]:
total_df.shape

(35699, 8)

In [141]:
total_df.iloc[50:80, :]

,년월,시구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh),그룹
53,201501,경상남도,보건업 및 사회복지 서비스업,"5,454","46,465,093","5,325,536,573",114.6,경상도
54,201501,경상남도,부동산업 및 임대업,"43,354","126,204,686","17,063,355,795",135.2,경상도
55,201501,경상남도,"사업시설관리,사업지원서비스업","4,101","6,660,988","966,657,097",145.1,경상도
56,201501,경상남도,숙박 및 음식점업,"46,603","111,578,305","14,161,993,323",126.9,경상도
57,201501,경상남도,"예술,스포츠및여가관련서비스업","5,109","28,064,504","3,915,793,714",139.5,경상도
58,201501,경상남도,운수업,"9,327","44,933,145","4,851,170,840",108,경상도
59,201501,경상남도,"전기, 가스, 증기 및 수도사업","7,939","61,826,120","7,659,806,426",123.9,경상도
60,201501,경상남도,"전문, 과학 및 기술 서비스업","1,984","6,984,669","962,036,416",137.7,경상도
61,201501,경상남도,제조업,"24,630","1,621,406,650","199,975,452,241",123.3,경상도
62,201501,경상남도,"출판영상,방송통신정보서비스업","19,112","23,391,124","2,985,355,688",127.6,경상도
63,201501,경상남도,하수폐기처리원료재생환경복원,"4,552","46,391,930","5,650,302,579",121.8,경상도
64,201501,경상남도,"협회단체,수리기타개인서비스업","25,100","58,781,860","7,570,731,870",128.8,경상도
66,201501,경상북도,"가구내고용,미분류자가소비생산",75,"67,691","12,047,531",178,경상도
67,201501,경상북도,건설업,"4,242","18,184,814","2,409,246,861",132.5,경상도
68,201501,경상북도,"공공행정, 국방 및 사회보장 행정","3,096","29,711,029","3,907,000,941",131.5,경상도
69,201501,경상북도,광업,356,"20,028,957","2,709,230,520",135.3,경상도
70,201501,경상북도,교육 서비스업,"5,145","65,033,633","7,085,791,086",109,경상도
71,201501,경상북도,국제 및 외국기관,11,"4,192,365","448,631,206",107,경상도
72,201501,경상북도,금융 및 보험업,"1,585","9,444,305","1,268,784,181",134.3,경상도
73,201501,경상북도,"농업, 임업 및 어업","274,195","142,868,700","7,000,427,318",49,경상도
74,201501,경상북도,도매 및 소매업,"48,381","102,185,069","13,399,407,759",131.1,경상도
75,201501,경상북도,보건업 및 사회복지 서비스업,"5,394","43,319,019","4,814,627,988",111.1,경상도
76,201501,경상북도,부동산업 및 임대업,"28,402","54,649,135","7,408,494,313",135.6,경상도
77,201501,경상북도,"사업시설관리,사업지원서비스업","7,874","11,600,493","1,627,030,007",140.3,경상도
78,201501,경상북도,숙박 및 음식점업,"44,927","110,161,834","14,022,090,559",127.3,경상도
79,201501,경상북도,"예술,스포츠및여가관련서비스업","5,646","26,965,200","3,727,355,358",138.2,경상도
80,201501,경상북도,운수업,"16,677","48,680,897","4,868,382,612",100,경상도
81,201501,경상북도,"전기, 가스, 증기 및 수도사업","7,809","113,155,678","13,299,424,674",117.5,경상도
82,201501,경상북도,"전문, 과학 및 기술 서비스업","2,506","9,715,233","1,260,505,782",129.7,경상도
83,201501,경상북도,제조업,"21,259","2,724,844,634","301,830,358,078",110.8,경상도

In [142]:
total_df["고객호수(호)"] = total_df["고객호수(호)"].map(lambda x: x.replace(",", ""))
total_df["사용량(kWh)"] = total_df["사용량(kWh)"].map(lambda x: x.replace(",", ""))
total_df["전기요금(원)"] = total_df["전기요금(원)"].map(lambda x: x.replace(",", ""))
total_df["평균판매단가(원/kWh)"] = total_df["평균판매단가(원/kWh)"].map(lambda x: x.replace(",", ""))

In [143]:
total_df["고객호수(호)"] = total_df["고객호수(호)"].astype("float64")
total_df["사용량(kWh)"] = total_df["사용량(kWh)"].astype("float64")
total_df["전기요금(원)"] = total_df["전기요금(원)"].astype("float64")
total_df["평균판매단가(원/kWh)"] = total_df["평균판매단가(원/kWh)"].astype("float64")

In [144]:
total_df["년월"][0]

201501

In [145]:
# 년월을 연도와 월로 분리
total_df['연도'] = total_df['년월'].astype(str).str[:4].astype(int)
total_df['월'] = total_df['년월'].astype(str).str[4:].astype(int)

In [146]:
# 그룹 및 계약구분으로 그룹핑 후 합계 계산
grouped_df = total_df.groupby(['연도', '월', '그룹', '계약구분']).agg({
    '사용량(kWh)': 'sum',
    '전기요금(원)': 'sum',
    '평균판매단가(원/kWh)': 'mean'  # 평균으로 계산
}).reset_index()

In [147]:
total_df.head()

,년월,시구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh),그룹,연도,월
0,201501,강원도,"가구내고용,미분류자가소비생산",18.0,12724.0,1.986737e+06,156.1,강원도,2015,1
1,201501,강원도,건설업,3995.0,22917077.0,2.937873e+09,128.2,강원도,2015,1
2,201501,강원도,"공공행정, 국방 및 사회보장 행정",4322.0,57919547.0,7.191602e+09,124.2,강원도,2015,1
3,201501,강원도,광업,303.0,32273124.0,4.433526e+09,137.4,강원도,2015,1
4,201501,강원도,교육 서비스업,3459.0,41898306.0,4.550828e+09,108.6,강원도,2015,1

In [148]:
total_df.shape

(35699, 10)

In [149]:
grouped_df.head()

     연도  월   그룹                계약구분    사용량(kWh)       전기요금(원)  평균판매단가(원/kWh)
0  2015  1  강원도     가구내고용,미분류자가소비생산     12724.0  1.986737e+06          156.1
1  2015  1  강원도                 건설업  22917077.0  2.937873e+09          128.2
2  2015  1  강원도  공공행정, 국방 및 사회보장 행정  57919547.0  7.191602e+09          124.2
3  2015  1  강원도                  광업  32273124.0  4.433526e+09          137.4
4  2015  1  강원도             교육 서비스업  41898306.0  4.550828e+09          108.6

In [150]:
grouped_df.shape

(11329, 7)

In [151]:
grouped_df.to_csv("./전력사용량.csv")

### 계약구분 이름 전처리

In [152]:
# 기존 연도와 월 데이터를 기준으로 년월 생성
grouped_df["년월"] = grouped_df["연도"].astype(str) + "-" + grouped_df["월"].astype(str).str.zfill(2)
grouped_df["년월"] = pd.to_datetime(grouped_df["년월"])

In [153]:
grouped_df.head()

,연도,월,그룹,계약구분,사용량(kWh),전기요금(원),평균판매단가(원/kWh),년월
0,2015,1,강원도,"가구내고용,미분류자가소비생산",12724.0,1.986737e+06,156.1,2015-01-01
1,2015,1,강원도,건설업,22917077.0,2.937873e+09,128.2,2015-01-01
2,2015,1,강원도,"공공행정, 국방 및 사회보장 행정",57919547.0,7.191602e+09,124.2,2015-01-01
3,2015,1,강원도,광업,32273124.0,4.433526e+09,137.4,2015-01-01
4,2015,1,강원도,교육 서비스업,41898306.0,4.550828e+09,108.6,2015-01-01

In [154]:
# 불필요한 항목 제거
kr_power = grouped_df.drop(["연도", "월", "전기요금(원)", "평균판매단가(원/kWh)"], axis = 1)

In [155]:
# 피봇 코드
kr_power.pivot(index = "년월", columns = ["그룹", "계약구분"], values = ["사용량(kWh)"]).loc[:, ("사용량(kWh)", "강원도")]

C:\Users\Jayden Jeong\AppData\Local\Temp\ipykernel_33224\2696045543.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  kr_power.pivot(index = "년월", columns = ["그룹", "계약구분"], values = ["사용량(kWh)"]).loc[:, ("사용량(kWh)", "강원도")]

계약구분,"가구내고용,미분류자가소비생산",건설업,"공공행정, 국방 및 사회보장 행정",광업,교육 서비스업,금융 및 보험업,"농업, 임업 및 어업",도매 및 소매업,보건업 및 사회복지 서비스업,부동산업 및 임대업,...,"농업,임업및어업",도매및소매업,보건업및사회복지서비스업,"사업시설관리,사업지원및임대서비스업","수도,하수및폐기물처리,원료재생업",숙박및음식점업,운수및창고업,"전기,가스,증기및공기조절공급업","전문,과학및기술서비스업","협회및단체,수리및기타개인서비스업"
년월,,,,,,,,,,,,,,,,,,,,,
2015-01-01,12724.0,22917077.0,57919547.0,32273124.0,41898306.0,6620087.0,45243558.0,62282031.0,25403089.0,45208282.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-01,11222.0,20319476.0,54811472.0,27792347.0,36905587.0,6357303.0,44197336.0,59534631.0,24039233.0,42522587.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-01,9573.0,18280250.0,45696558.0,29928413.0,35190402.0,5071082.0,41313978.0,50798960.0,20249636.0,34870172.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-01,8729.0,16887524.0,42718497.0,30599329.0,32348336.0,4799417.0,40595623.0,50890380.0,18564924.0,32701230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-01,6748.0,13734378.0,35339282.0,28773133.0,22137637.0,3935264.0,37415787.0,48337166.0,15074318.0,28362752.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-01,NaN,12875758.0,NaN,39380831.0,29878661.0,4479600.0,73293941.0,52583183.0,18698062.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-01,NaN,17513234.0,NaN,39327022.0,NaN,NaN,NaN,NaN,NaN,NaN,...,61010111.0,57095118.0,24402238.0,4014669.0,41355277.0,122606805.0,24356209.0,45766134.0,5438352.0,22232045.0
2024-01-01,NaN,20814601.0,NaN,40847675.0,NaN,NaN,NaN,NaN,NaN,NaN,...,64833087.0,64054573.0,28588535.0,5117311.0,44363059.0,138442263.0,26119656.0,55500363.0,6399254.0,27365641.0
2024-02-01,NaN,19905371.0,NaN,36777732.0,NaN,NaN,NaN,NaN,NaN,NaN,...,64173712.0,62329547.0,27566275.0,4962616.0,42618039.0,125712710.0,24083651.0,55617364.0,6315694.0,26453950.0
2024-03-01,NaN,17243169.0,NaN,37840559.0,NaN,NaN,NaN,NaN,NaN,NaN,...,59018856.0,54670419.0,23565009.0,3926664.0,40644420.0,106105692.0,22587940.0,50768505.0,5711206.0,22107165.0

In [161]:
kr_power.groupby("그룹")["계약구분"].count()

그룹
강원도    2220
경상도    2330
서울     2331
전라도    2220
충청도    2228
Name: 계약구분, dtype: int64

In [162]:
kr_power["계약구분"].value_counts()

건설업                         555
광업                          555
제조업                         555
교육 서비스업                     530
금융 및 보험업                    530
도매 및 소매업                    530
보건업 및 사회복지 서비스업             530
숙박 및 음식점업                   530
농업, 임업 및 어업                 520
전문, 과학 및 기술 서비스업            520
예술,스포츠및여가관련서비스업             295
하수폐기처리원료재생환경복원              280
운수업                         280
부동산업 및 임대업                  280
정보통신업                       275
부동산업                        275
전기, 가스, 증기 및 수도사업           270
사업시설관리,사업지원서비스업             270
출판영상,방송통신정보서비스업             270
공공행정, 국방 및 사회보장 행정          270
협회단체,수리기타개인서비스업             270
가구내고용활동및달리분류되지않은자가소비생산활동    270
가구내고용,미분류자가소비생산             269
예술, 스포츠 및 여가관련 서비스업         250
협회 및 단체, 수리 및 기타 개인 서비스업    250
전기, 가스, 증기 및 공기 조절 공급업      250
운수 및 창고업                    250
수도, 하수 및 폐기물 처리, 원료 재생업     250
공공 행정, 국방 및 사회보장 행정         250
사업시설 관리, 사업 지원 및 임대 서비스업    250
국제 및 외국기관                   225
금융및보험업                       25
협회및단체,수리및기타개인서비스업            25
전문,과학및기술서비스업                 25
전기,가스,증기및공기조절공급업             25
운수및창고업                       25
숙박및음식점업                      25
수도,하수및폐기물처리,원료재생업            25
사업시설관리,사업지원및임대서비스업           25
보건업및사회복지서비스업                 25
도매및소매업                       25
농업,임업및어업                     25
공공행정,국방및사회보장행정               25
교육서비스업                       25
협회단체/수리기타개인서비스업              10
출판영상/방송통신정보서비스업              10
전문/ 과학 및 기술 서비스업             10
전기/ 가스/ 증기 및 수도사업            10
예술/스포츠및여가관련서비스업              10
사업시설관리/사업지원서비스업              10
농업/ 임업 및 어업                  10
공공행정/ 국방 및 사회보장 행정           10
가구내고용/미분류자가소비생산              10
국제및외국기관                      10
Name: 계약구분, dtype: int64

In [165]:
# 문자열 처리 함수
def changing_name(contract_type):
    return contract_type.replace(" ", "").replace(",", "").replace("/", "").replace("및", "").replace("및", "").replace("및", "")

# '계약구분' 열에 문자열 처리 함수 적용
kr_power['계약구분'] = kr_power['계약구분'].apply(changing_name)

In [168]:
kr_power["계약구분"].nunique()

28

In [171]:
kr_power.head()

    그룹            계약구분    사용량(kWh)         년월
0  강원도  가구내고용미분류자가소비생산     12724.0 2015-01-01
1  강원도             건설업  22917077.0 2015-01-01
2  강원도    공공행정국방사회보장행정  57919547.0 2015-01-01
3  강원도              광업  32273124.0 2015-01-01
4  강원도          교육서비스업  41898306.0 2015-01-01

In [187]:
kr_power["계약구분"].value_counts()

전문과학기술서비스업                 555
공공행정국방사회보장행정               555
광업                         555
교육서비스업                     555
금융보험업                      555
농업임업어업                     555
도매소매업                      555
보건업사회복지서비스업                555
협회단체수리기타개인서비스업             555
숙박음식점업                     555
예술스포츠여가관련서비스업              555
제조업                        555
건설업                        555
전기가스증기수도사업                 280
출판영상방송통신정보서비스업             280
부동산업임대업                    280
운수업                        280
사업시설관리사업지원서비스업             280
하수폐기처리원료재생환경복원             280
가구내고용미분류자가소비생산             279
부동산업                       275
사업시설관리사업지원임대서비스업           275
수도하수폐기물처리원료재생업             275
운수창고업                      275
전기가스증기공기조절공급업              275
정보통신업                      275
가구내고용활동달리분류되지않은자가소비생산활동    270
국제외국기관                     235
Name: 계약구분, dtype: int64

In [193]:
# 가구내고용활동 분류 안된 행들 제거
kr_power = kr_power[~kr_power['계약구분'].str.contains('가구내고용')]

In [194]:
kr_power["계약구분"].value_counts()

건설업                 555
제조업                 555
광업                  555
교육서비스업              555
금융보험업               555
농업임업어업              555
도매소매업               555
보건업사회복지서비스업         555
협회단체수리기타개인서비스업      555
숙박음식점업              555
예술스포츠여가관련서비스업       555
공공행정국방사회보장행정        555
전문과학기술서비스업          555
하수폐기처리원료재생환경복원      280
출판영상방송통신정보서비스업      280
전기가스증기수도사업          280
운수업                 280
사업시설관리사업지원서비스업      280
부동산업임대업             280
부동산업                275
사업시설관리사업지원임대서비스업    275
수도하수폐기물처리원료재생업      275
운수창고업               275
전기가스증기공기조절공급업       275
정보통신업               275
국제외국기관              235
Name: 계약구분, dtype: int64

In [197]:
kr_power["계약구분"] = kr_power["계약구분"].apply(lambda x: "운수창고업" if x == "운수업" else x)

In [199]:
kr_power["계약구분"] = kr_power["계약구분"].apply(lambda x: "하수폐기처리원료재생환경복원" if x == "수도하수폐기물처리원료재생업" else x)
kr_power["계약구분"] = kr_power["계약구분"].apply(lambda x: "정보통신업" if x == "출판영상방송통신정보서비스업" else x)
kr_power["계약구분"] = kr_power["계약구분"].apply(lambda x: "전기가스증기공기조절공급업" if x == "전기가스증기수도사업" else x)
kr_power["계약구분"] = kr_power["계약구분"].apply(lambda x: "사업시설관리사업지원서비스업" if x == "사업시설관리사업지원임대서비스업" else x)
kr_power["계약구분"] = kr_power["계약구분"].apply(lambda x: "부동산업임대업" if x == "부동산업" else x)

In [201]:
# 국제외국기관은 결측치로인해 삭제
kr_power = kr_power[~kr_power['계약구분'].str.contains('국제외국기관')]

In [203]:
kr_power["계약구분"].value_counts()

건설업               555
숙박음식점업            555
하수폐기처리원료재생환경복원    555
정보통신업             555
제조업               555
전문과학기술서비스업        555
전기가스증기공기조절공급업     555
운수창고업             555
예술스포츠여가관련서비스업     555
사업시설관리사업지원서비스업    555
공공행정국방사회보장행정      555
부동산업임대업           555
보건업사회복지서비스업       555
도매소매업             555
농업임업어업            555
금융보험업             555
교육서비스업            555
광업                555
협회단체수리기타개인서비스업    555
Name: 계약구분, dtype: int64

In [204]:
kr_power.to_csv("./국내전력사용량전처리final.csv")

In [210]:
kr_power.head()

    그룹          계약구분    사용량(kWh)         년월
1  강원도           건설업  22917077.0 2015-01-01
2  강원도  공공행정국방사회보장행정  57919547.0 2015-01-01
3  강원도            광업  32273124.0 2015-01-01
4  강원도        교육서비스업  41898306.0 2015-01-01
5  강원도         금융보험업   6620087.0 2015-01-01

## 피벗으로 확인하기

In [206]:
pivot_df = kr_power.pivot(index = "년월", columns = ["그룹", "계약구분"], values = ["사용량(kWh)"]).loc[:, ("사용량(kWh)", "충청도")]

In [207]:
pivot_df.shape

(111, 19)

In [208]:
pivot_df.isna().sum()

계약구분
건설업               0
공공행정국방사회보장행정      0
광업                0
교육서비스업            0
금융보험업             0
농업임업어업            0
도매소매업             0
보건업사회복지서비스업       0
부동산업임대업           0
사업시설관리사업지원서비스업    0
숙박음식점업            0
예술스포츠여가관련서비스업     0
운수창고업             0
전기가스증기공기조절공급업     0
전문과학기술서비스업        0
제조업               0
정보통신업             0
하수폐기처리원료재생환경복원    0
협회단체수리기타개인서비스업    0
dtype: int64

In [209]:
pivot_df.head(30)

계약구분,건설업,공공행정국방사회보장행정,광업,교육서비스업,금융보험업,농업임업어업,도매소매업,보건업사회복지서비스업,부동산업임대업,사업시설관리사업지원서비스업,숙박음식점업,예술스포츠여가관련서비스업,운수창고업,전기가스증기공기조절공급업,전문과학기술서비스업,제조업,정보통신업,하수폐기처리원료재생환경복원,협회단체수리기타개인서비스업
년월,,,,,,,,,,,,,,,,,,,
2015-01-01,40471583.0,75058266.0,36569954.0,154942461.0,18653273.0,245892628.0,215004219.0,73753264.0,214927221.0,19093249.0,183345372.0,44986940.0,70905862.0,88711612.0,72034731.0,4.558029e+09,54591155.0,82808561.0,76567615.0
2015-02-01,39570318.0,69456895.0,32483067.0,136373975.0,18070489.0,244505161.0,205527767.0,70736251.0,204384962.0,18092346.0,173310534.0,42653471.0,69046662.0,84949131.0,63987246.0,4.064877e+09,53041413.0,76947803.0,72195567.0
2015-03-01,33063522.0,61505245.0,31534920.0,129900634.0,15135893.0,220968441.0,177533749.0,59300931.0,170064955.0,15525005.0,146836641.0,37554570.0,66283617.0,86025010.0,64707511.0,4.460561e+09,50767982.0,77243360.0,59391871.0
2015-04-01,35235305.0,56052504.0,37029912.0,113753930.0,14248452.0,185705982.0,178000559.0,53396948.0,160436104.0,14506335.0,145868733.0,34382120.0,67618347.0,88961397.0,61211426.0,4.389469e+09,54109648.0,78708939.0,55234915.0
2015-05-01,27109739.0,49673639.0,35669924.0,81727271.0,12237258.0,160240812.0,171568817.0,42206073.0,141675283.0,12551162.0,133575242.0,31933530.0,67424411.0,106657955.0,62885310.0,4.338247e+09,54157160.0,78273500.0,45091832.0
2015-06-01,48599560.0,53758395.0,36715185.0,84766490.0,14015793.0,182398748.0,182515047.0,41111400.0,152984297.0,12989099.0,138845482.0,34241186.0,65673441.0,87789877.0,69721037.0,4.510823e+09,56968828.0,78192409.0,42120763.0
2015-07-01,54166055.0,61490969.0,37712476.0,89680166.0,15550047.0,163188101.0,197528476.0,45702653.0,167272887.0,14084967.0,150657176.0,36399452.0,70305956.0,111922675.0,80312844.0,4.681504e+09,58966789.0,80180439.0,42195959.0
2015-08-01,43849555.0,69111989.0,32725741.0,92123919.0,17615036.0,221763163.0,226754587.0,54978089.0,196670691.0,15711502.0,188184229.0,44206572.0,75705066.0,102385923.0,81530159.0,4.523958e+09,62692155.0,79864537.0,49428564.0
2015-09-01,38920633.0,61392874.0,32613826.0,91506392.0,15792712.0,233895398.0,205242970.0,47000455.0,175618893.0,14155651.0,161313930.0,38542336.0,73916331.0,97914567.0,73154414.0,4.385448e+09,59837845.0,76892308.0,44826649.0
2015-10-01,47060035.0,51715871.0,36193857.0,77716177.0,12471215.0,166778897.0,176574512.0,38747793.0,142691354.0,11891398.0,131013480.0,32753364.0,71209413.0,87852674.0,67991354.0,4.466004e+09,56321194.0,77561307.0,40251603.0
2015-11-01,58473902.0,55512539.0,37562183.0,94193118.0,12681424.0,308056854.0,171923738.0,46632336.0,150804951.0,12693767.0,138418201.0,33531100.0,72457600.0,96267176.0,66157347.0,4.413448e+09,55510033.0,77913642.0,47440485.0
2015-12-01,55222488.0,67375988.0,38666901.0,135505434.0,15096179.0,201461652.0,185026307.0,60582112.0,181281008.0,15635416.0,154424519.0,37444642.0,75268040.0,109477355.0,69645913.0,4.537024e+09,55415111.0,80610307.0,58395711.0
2016-01-01,76277515.0,74443611.0,36668141.0,139716997.0,17492276.0,242140592.0,205490113.0,71625215.0,213019664.0,17858324.0,177073619.0,43286008.0,78527399.0,105239966.0,73580721.0,4.558438e+09,57198065.0,82099040.0,70650275.0
2016-02-01,73881199.0,76792493.0,32028479.0,141626247.0,18777642.0,256479880.0,211288543.0,77054921.0,225829125.0,18460650.0,180458780.0,45330951.0,76030086.0,124963218.0,68065328.0,4.231757e+09,56401527.0,79238964.0,74551201.0
2016-03-01,60306140.0,67828343.0,35310327.0,135384316.0,15738124.0,235850068.0,185383471.0,64349240.0,190017139.0,16300315.0,155814190.0,39635277.0,71991298.0,105031871.0,68623119.0,4.416390e+09,53671440.0,78571281.0,62773398.0
2016-04-01,55663233.0,58066630.0,38185614.0,107296627.0,13400003.0,197623041.0,176256497.0,52549137.0,165167544.0,14177989.0,145565352.0,34608255.0,69323234.0,124781808.0,62433861.0,4.508432e+09,54812886.0,78342461.0,53776145.0
2016-05-01,43137011.0,51796868.0,37842665.0,80720035.0,11945531.0,160538667.0,171485360.0,42535936.0,148153957.0,12620374.0,132829596.0,31891637.0,71008206.0,120661331.0,67111746.0,4.487629e+09,55058045.0,77687362.0,43841916.0
2016-06-01,51066498.0,58047515.0,38764989.0,90165993.0,14092732.0,188335155.0,188880853.0,44604330.0,168102890.0,13004870.0,145363220.0,36365031.0,72245266.0,112490137.0,75825687.0,4.498877e+09,58520381.0,78531476.0,42833083.0
2016-07-01,53126061.0,67326294.0,37933446.0,99043085.0,15906731.0,177087798.0,207207234.0,51904361.0,189769033.0,14434593.0,163466620.0,40552367.0,76232678.0,110340570.0,84857895.0,4.757437e+09,60251724.0,80387878.0,44761302.0
2016-08-01,42291223.0,76311543.0,36334822.0,102389916.0,18413908.0,262797588.0,241331591.0,61883156.0,226461626.0,16392531.0,203746620.0,48932522.0,81023173.0,123045663.0,90182071.0,4.709631e+09,63968783.0,81459002.0,52517381.0
2016-09-01,28126182.0,64664717.0,35679873.0,97966030.0,16090486.0,249894195.0,218538381.0,52120970.0,200151406.0,15121718.0,175195448.0,42104543.0,76444892.0,126916266.0,78079843.0,4.439754e+09,61216317.0,78464620.0,47325825.0
2016-10-01,37047556.0,52870467.0,38160417.0,81320349.0,12471292.0,173260477.0,180808838.0,41409674.0,158532576.0,12419318.0,136071446.0,34837788.0,68690538.0,126153923.0,70215062.0,4.586663e+09,56407452.0,79181801.0,41084518.0
2016-11-01,55685127.0,57979791.0,38374422.0,107408731.0,13033498.0,314334967.0,175888825.0,51258577.0,169925313.0,13101937.0,142500621.0,36773887.0,69840177.0,120022231.0,68978832.0,4.575109e+09,55291483.0,80847138.0,49697261.0
2016-12-01,52909777.0,69184892.0,42584011.0,145362167.0,15291487.0,229950813.0,190957070.0,65598031.0,204271615.0,15528904.0,160955248.0,41052494.0,82884509.0,113527256.0,75052361.0,4.760398e+09,55539241.0,82860102.0,62402856.0
2017-01-01,63041490.0,76822905.0,38449684.0,145012603.0,17492457.0,253284837.0,207781881.0,74860143.0,232473938.0,17224165.0,177844685.0,44143251.0,88135194.0,120734074.0,78088245.0,4.681276e+09,56985257.0,84718542.0,71736558.0
2017-02-01,73876712.0,77622552.0,36811308.0,142910776.0,18308134.0,272234763.0,211479519.0,79529519.0,243573226.0,17880412.0,180313249.0,46638133.0,83491719.0,107611049.0,74457165.0,4.411596e+09,56155717.0,81642726.0,75082801.0
2017-03-01,56068516.0,67015996.0,40435880.0,135572216.0,15117092.0,243090933.0,179975819.0,65441564.0,202802379.0,15377166.0,153319197.0,40271603.0,81078759.0,102093380.0,75272015.0,4.777501e+09,53656733.0,81186411.0,62003769.0
2017-04-01,39182344.0,59173085.0,39923461.0,113641059.0,13506151.0,202641195.0,175467142.0,56378020.0,182889518.0,13827604.0,148404099.0,36245680.0,78907146.0,112497164.0,72132511.0,4.605387e+09,55736794.0,80105831.0,55833823.0
2017-05-01,36085397.0,52657199.0,39692274.0,81003989.0,11499491.0,172793086.0,168284731.0,43615626.0,160910344.0,12096534.0,133561065.0,34067019.0,79259423.0,113612824.0,73891763.0,4.667979e+09,55853844.0,80510258.0,44155442.0
2017-06-01,31136796.0,58007544.0,53023225.0,85268833.0,13444957.0,203398918.0,167207848.0,45058739.0,175943246.0,12007522.0,94409505.0,35641454.0,39743686.0,111049055.0,80895944.0,4.097376e+09,60779577.0,76064455.0,41719198.0

In [173]:
pivot_df.isna().sum()

계약구분
가구내고용미분류자가소비생산             55
건설업                         0
공공행정국방사회보장행정                0
광업                          0
교육서비스업                      0
금융보험업                       0
농업임업어업                      0
도매소매업                       0
보건업사회복지서비스업                 0
부동산업임대업                    55
사업시설관리사업지원서비스업             55
숙박음식점업                      0
예술스포츠여가관련서비스업               0
운수업                        55
전기가스증기수도사업                 55
전문과학기술서비스업                  0
제조업                         0
출판영상방송통신정보서비스업             55
하수폐기처리원료재생환경복원             55
협회단체수리기타개인서비스업              0
가구내고용활동달리분류되지않은자가소비생산활동    56
부동산업                       56
사업시설관리사업지원임대서비스업           56
수도하수폐기물처리원료재생업             56
운수창고업                      56
전기가스증기공기조절공급업              56
정보통신업                      56
dtype: int64

In [180]:
pivot_df.to_excel("./피봇.xlsx")

In [181]:
df = pd.read_excel("./피봇.xlsx")

In [182]:
df.head()

,년월,건설업,공공행정국방사회보장행정,광업,교육서비스업,금융보험업,농업임업어업,도매소매업,보건업사회복지서비스업,부동산업임대업,...,숙박음식점업,예술스포츠여가관련서비스업,운수업,전기가스증기수도사업,전문과학기술서비스업,제조업,출판영상방송통신정보서비스업,하수폐기처리원료재생환경복원,협회단체수리기타개인서비스업,가구내고용활동달리분류되지않은자가소비생산활동
0,2015-01-01,22917077,57919547,32273124,41898306,6620087,45243558,62282031,25403089,45208282,...,112064784,35087583,18600521,35173169,3997921,486818150,25469621,22639984,26592423,12724
1,2015-02-01,20319476,54811472,27792347,36905587,6357303,44197336,59534631,24039233,42522587,...,101388986,30835980,16967404,33061519,3813958,444332030,24631197,21584085,24972297,11222
2,2015-03-01,18280250,45696558,29928413,35190402,5071082,41313978,50798960,20249636,34870172,...,83254788,24984746,16409267,32593759,3196969,529057892,23462309,20381543,20572569,9573
3,2015-04-01,16887524,42718497,30599329,32348336,4799417,40595623,50890380,18564924,32701230,...,78961330,21543114,15610538,30065646,2906464,526136568,24786544,21038518,19292975,8729
4,2015-05-01,13734378,35339282,28773133,22137637,3935264,37415787,48337166,15074318,28362752,...,73449081,22621985,15296136,31676196,2424418,546935954,25203817,20563010,15483848,6748

In [183]:
df.shape

(111, 21)

In [184]:
df.isna().sum()

년월                         0
건설업                        0
공공행정국방사회보장행정               0
광업                         0
교육서비스업                     0
금융보험업                      0
농업임업어업                     0
도매소매업                      0
보건업사회복지서비스업                0
부동산업임대업                    0
사업시설관리사업지원서비스업             0
숙박음식점업                     0
예술스포츠여가관련서비스업              0
운수업                        0
전기가스증기수도사업                 0
전문과학기술서비스업                 0
제조업                        0
출판영상방송통신정보서비스업             0
하수폐기처리원료재생환경복원             0
협회단체수리기타개인서비스업             0
가구내고용활동달리분류되지않은자가소비생산활동    0
dtype: int64

In [185]:
df

,년월,건설업,공공행정국방사회보장행정,광업,교육서비스업,금융보험업,농업임업어업,도매소매업,보건업사회복지서비스업,부동산업임대업,...,숙박음식점업,예술스포츠여가관련서비스업,운수업,전기가스증기수도사업,전문과학기술서비스업,제조업,출판영상방송통신정보서비스업,하수폐기처리원료재생환경복원,협회단체수리기타개인서비스업,가구내고용활동달리분류되지않은자가소비생산활동
0,2015-01-01,22917077,57919547,32273124,41898306,6620087,45243558,62282031,25403089,45208282,...,112064784,35087583,18600521,35173169,3997921,486818150,25469621,22639984,26592423,12724
1,2015-02-01,20319476,54811472,27792347,36905587,6357303,44197336,59534631,24039233,42522587,...,101388986,30835980,16967404,33061519,3813958,444332030,24631197,21584085,24972297,11222
2,2015-03-01,18280250,45696558,29928413,35190402,5071082,41313978,50798960,20249636,34870172,...,83254788,24984746,16409267,32593759,3196969,529057892,23462309,20381543,20572569,9573
3,2015-04-01,16887524,42718497,30599329,32348336,4799417,40595623,50890380,18564924,32701230,...,78961330,21543114,15610538,30065646,2906464,526136568,24786544,21038518,19292975,8729
4,2015-05-01,13734378,35339282,28773133,22137637,3935264,37415787,48337166,15074318,28362752,...,73449081,22621985,15296136,31676196,2424418,546935954,25203817,20563010,15483848,6748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2023-11-01,12875758,52108605,39380831,29878661,4479600,73293941,52583183,18698062,50506491,...,98998360,28139751,22004571,43331009,4372656,428133898,39488656,39399742,16461667,6325
107,2023-12-01,17513234,65959328,39327022,45274231,5791613,61010111,57095118,24402238,62451427,...,122606805,34028464,24356209,45766134,5438352,430010435,39929256,41355277,22232045,8476
108,2024-01-01,20814601,76409071,40847675,48886907,7029653,64833087,64054573,28588535,75313690,...,138442263,36437504,26119656,55500363,6399254,372455949,41279308,44363059,27365641,10748
109,2024-02-01,19905371,73133256,36777732,40985227,7209784,64173712,62329547,27566275,73166495,...,125712710,32509923,24083651,55617364,6315694,362849262,40132326,42618039,26453950,15320
110,2024-03-01,17243169,62987156,37840559,39838451,6184092,59018856,54670419,23565009,61117144,...,106105692,28291433,22587940,50768505,5711206,408843819,38856008,40644420,22107165,11012