In [1]:
import pandas as pd
import numpy as np

In [6]:
# 미세먼지 데이터 읽기
pm10 = pd.read_csv("./pm10_final_v1.csv", index_col = 0)
pm25 = pd.read_csv("./pm25_final_v1.csv", index_col = 0)

In [36]:
# 미세먼지 데이터의 인덱스값 데이트 타입으로 변환
pm10.index = pd.to_datetime(pm10.index)
pm25.index = pd.to_datetime(pm25.index)

In [11]:
# 한국 / 중국의 사회경제 데이터 읽기
kr_economy = pd.read_csv("./독립변수/한국경제지표종합.csv", index_col = 0)
cn_economy = pd.read_csv("./독립변수/중국사회경제종합.csv", index_col = 0)

In [37]:
# 경제 데이터의 인덱스값 데이트 타입으로 변환
kr_economy.index = pd.to_datetime(kr_economy.index)
cn_economy.index = pd.to_datetime(cn_economy.index)

In [7]:
pm10.head()

,"('PM10', '강원 강릉시')","('PM10', '광주 북구')","('PM10', '대전 중구')","('PM10', '부산 해운대구')","('PM10', '서울 서대문구')","('강수량', '90')","('강수량', '101')","('강수량', '102')","('강수량', '105')","('강수량', '108')",...,month_11,month_12,hour_0,hour_3,hour_6,hour_9,hour_12,hour_15,hour_18,hour_21
2015-01-01 03:00:00,35.0,21.7,33.3,18.7,63.7,0.0,0.0,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,False
2015-01-01 06:00:00,45.3,21.0,61.3,19.0,113.3,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,True,False,False,False,False,False
2015-01-01 09:00:00,56.3,21.7,95.0,28.3,135.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,False
2015-01-01 12:00:00,68.7,41.0,124.0,53.5,85.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,True,False,False,False
2015-01-01 15:00:00,88.3,70.3,56.3,54.3,44.7,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,True,False,False

In [8]:
pm25.head()

,"('PM25', '강원 강릉시')","('PM25', '광주 북구')","('PM25', '대전 중구')","('PM25', '부산 해운대구')","('PM25', '서울 서대문구')","('강수량', '90')","('강수량', '101')","('강수량', '102')","('강수량', '105')","('강수량', '108')",...,month_11,month_12,hour_0,hour_3,hour_6,hour_9,hour_12,hour_15,hour_18,hour_21
2019-01-01 03:00:00,15.0,20.3,39.0,19.3,33.7,0.0,0.0,0.0,0.0,0.0,...,False,False,False,True,False,False,False,False,False,False
2019-01-01 06:00:00,10.7,22.0,36.0,19.7,32.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,True,False,False,False,False,False
2019-01-01 09:00:00,14.0,21.7,31.0,22.0,29.3,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,True,False,False,False,False
2019-01-01 12:00:00,14.0,18.3,29.0,17.0,22.7,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,True,False,False,False
2019-01-01 15:00:00,9.5,15.3,17.7,15.3,27.3,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,True,False,False

In [12]:
kr_economy.head()

,석탄소비량,"('강원도', '건설업')","('강원도', '공공행정국방사회보장행정')","('강원도', '광업')","('강원도', '교육서비스업')","('강원도', '금융보험업')","('강원도', '농업임업어업')","('강원도', '도매소매업')","('강원도', '보건업사회복지서비스업')","('강원도', '부동산업임대업')",...,"('경상도_생산', '광업')","('경상도_생산', '전기업 및 가스업')","('경상도_생산', '제조업')","('경상도_생산', '총지수')",종가,종가.1,고급휘발유,보통휘발유,자동차용경유,실내등유
2015-01-01 00:00:00,197.0,22917077.0,57919547.0,32273124.0,41898306.0,6620087.0,45243558.0,62282031.0,25403089.0,45208282.0,...,155.754,124.265,117.375,117.204,1926.44,553.73,1963.95,1587.31,1399.99,1105.58
2015-01-01 03:00:00,197.0,22917077.0,57919547.0,32273124.0,41898306.0,6620087.0,45243558.0,62282031.0,25403089.0,45208282.0,...,155.754,124.265,117.375,117.204,1926.44,553.73,1963.95,1587.31,1399.99,1105.58
2015-01-01 06:00:00,197.0,22917077.0,57919547.0,32273124.0,41898306.0,6620087.0,45243558.0,62282031.0,25403089.0,45208282.0,...,155.754,124.265,117.375,117.204,1926.44,553.73,1963.95,1587.31,1399.99,1105.58
2015-01-01 09:00:00,197.0,22917077.0,57919547.0,32273124.0,41898306.0,6620087.0,45243558.0,62282031.0,25403089.0,45208282.0,...,155.754,124.265,117.375,117.204,1926.44,553.73,1963.95,1587.31,1399.99,1105.58
2015-01-01 12:00:00,197.0,22917077.0,57919547.0,32273124.0,41898306.0,6620087.0,45243558.0,62282031.0,25403089.0,45208282.0,...,155.754,124.265,117.375,117.204,1926.44,553.73,1963.95,1587.31,1399.99,1105.58

In [13]:
cn_economy.head()

,air_conditioners_1,air_conditioners_2,alternating_current_motors,aluminum_alloy,aluminum_oxide,aluminum_products,beer,bullet_trains,cars,caustic_soda,...,Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%),cn_a50,cn_szse,cn_sha
2015-01-01,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-02,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-03,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-04,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-05,177.2,1195.1,2211.7,49.1,438.6,381.2,372.6,231.0,120.9,257.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52

In [14]:
# 3시간 단위의 시간 리스트 생성
time_list = pd.date_range(start = "2015-01-01-00:00", end = "2023-12-31-21:00", freq = "3H")

In [15]:
# 3시간 단위의 데이터프레임 생성
time_df = pd.DataFrame(time_list)
time_df.columns = ["일시"]
time_df = time_df.set_index("일시")
time_df.head()

Empty DataFrame
Columns: []
Index: [2015-01-01 00:00:00, 2015-01-01 03:00:00, 2015-01-01 06:00:00, 2015-01-01 09:00:00, 2015-01-01 12:00:00]

In [16]:
# time_df에 cn_economy와 동일한 컬럼들을 생성, 값은 nan 입력
for column in cn_economy.columns:
    time_df[column] = np.nan

C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan
C:\Users\ITSC\AppData\Local\Temp\ipykernel_4136\3315169623.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  time_df[column] = np.nan

In [21]:
time_df.shape

(26296, 125)

In [22]:
cn_economy.shape

(3408, 125)

In [23]:
# 날짜가 일치하는 경우에 cn_economy 값을 입력
for date in cn_economy.index:
    time_df.loc[date, :] = cn_economy.loc[date, :].values

In [30]:
cn_economy2 = time_df

In [39]:
# 미세먼지, 한국/중국 사회경제 데이터 통합 적용
pm10_v4 = pd.concat([pm10, kr_economy, cn_economy2], axis = 1)
pm25_v4 = pd.concat([pm25, kr_economy, cn_economy2], axis = 1)

In [42]:
# 24년도 이후의 데이터 제거
pm10_v4 = pm10_v4[pm10_v4.index < "2024-01-01"]
pm25_v4 = pm25_v4[pm25_v4.index < "2024-01-01"]

In [46]:
# 초미세먼지의 경우 18년 이전의 데이터 제거
pm25_v4 = pm25_v4[pm25_v4.index >= "2019-01-01" ]

In [50]:
# 첫 데이터 제거
pm10_v4 = pm10_v4.iloc[1:, :]
pm25_v4 = pm25_v4.iloc[1:, :]

In [54]:
# csv 파일로 저장
pm10_v4.to_csv("./pm10_final_v4.csv")
pm25_v4.to_csv("./pm25_final_v4.csv")

In [58]:
# 확인
pm10_v4_2 = pd.read_csv("./pm10_final_v4.csv", index_col = 0)
pm25_v4_2 = pd.read_csv("./pm25_final_v4.csv", index_col = 0)

In [59]:
pm10_v4_2.head()

,"('PM10', '강원 강릉시')","('PM10', '광주 북구')","('PM10', '대전 중구')","('PM10', '부산 해운대구')","('PM10', '서울 서대문구')","('강수량', '90')","('강수량', '101')","('강수량', '102')","('강수량', '105')","('강수량', '108')",...,Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%),cn_a50,cn_szse,cn_sha
2015-01-01 03:00:00,35.0,21.7,33.3,18.7,63.7,0.0,0.0,0.0,0.0,0.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-01 06:00:00,45.3,21.0,61.3,19.0,113.3,0.0,0.0,0.0,0.0,0.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-01 09:00:00,56.3,21.7,95.0,28.3,135.0,0.0,0.0,0.0,0.0,0.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-01 12:00:00,68.7,41.0,124.0,53.5,85.0,0.0,0.0,0.0,0.0,0.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52
2015-01-01 15:00:00,88.3,70.3,56.3,54.3,44.7,0.0,0.0,0.0,0.0,0.0,...,150028.0,1483.0,364076.0,31253.0,283653.0,49119.0,49.8,11860.36,11520.59,3350.52

In [60]:
pm25_v4_2.head()

,"('PM25', '강원 강릉시')","('PM25', '광주 북구')","('PM25', '대전 중구')","('PM25', '부산 해운대구')","('PM25', '서울 서대문구')","('강수량', '90')","('강수량', '101')","('강수량', '102')","('강수량', '105')","('강수량', '108')",...,Passenger Traffic of Highways Current Period(10000 persons),Passenger Traffic of Waterways Current Period(10000 persons),Freight Traffic Current Period(10000 tons),Freight Traffic of Railways Current Period(10000 tons),Freight Traffic of Highways Current Period(10000 tons),Freight Traffic of Waterways Current Period(10000 tons),Manufacturing Purchasing Managers'' Index(%),cn_a50,cn_szse,cn_sha
2019-01-01 03:00:00,15.0,20.3,39.0,19.3,33.7,0.0,0.0,0.0,0.0,0.0,...,106502.0,1513.0,413073.0,36756.0,318985.0,57264.0,49.5,10387.55,7239.79,2493.9
2019-01-01 06:00:00,10.7,22.0,36.0,19.7,32.0,0.0,0.0,0.0,0.0,0.0,...,106502.0,1513.0,413073.0,36756.0,318985.0,57264.0,49.5,10387.55,7239.79,2493.9
2019-01-01 09:00:00,14.0,21.7,31.0,22.0,29.3,0.0,0.0,0.0,0.0,0.0,...,106502.0,1513.0,413073.0,36756.0,318985.0,57264.0,49.5,10387.55,7239.79,2493.9
2019-01-01 12:00:00,14.0,18.3,29.0,17.0,22.7,0.0,0.0,0.0,0.0,0.0,...,106502.0,1513.0,413073.0,36756.0,318985.0,57264.0,49.5,10387.55,7239.79,2493.9
2019-01-01 15:00:00,9.5,15.3,17.7,15.3,27.3,0.0,0.0,0.0,0.0,0.0,...,106502.0,1513.0,413073.0,36756.0,318985.0,57264.0,49.5,10387.55,7239.79,2493.9